.stopwatch-counter{
    background-color:   #2c303d;
    border:none;
    font-size: 4rem;
    font-weight: 500;
    color:#eef0ff;
    cursor: pointer;
}
.light-brown{
    color:#ffeed9 !important;
}
.stopwatch-btns{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top:6em;
    padding-inline:4em;
}

.stopwatch-btns button{
    width:100%;
    padding-block:0.5em;
    border-radius: 20px;
    background-color: #a8c7fa;
    border: none;
    
}

.paused{
    background-color: #7e5700 !important;
}


.click-btn-container{
    padding-top:6em;
    text-align: center;
    padding-inline: 4em;
}

#click-btn{
    text-align: center;
    padding-block: 0.2em;
    border-radius: 20px;
    border:none;
    width:100%;
    background-color:  #a8c7fa;
}

#click-btn:hover{
    outline:2px solid #000033;
}
