.stopwatch-counter{
    background-color:  #333366;
    border:none;
    font-size: 4rem;
    font-weight: 600;
    color: #99cc99;
    cursor: pointer;
}

.stopwatch-btns{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top:2em;
    padding-inline:4em;
}

.stopwatch-btns button{
    width:100%;
    padding-block:0.5em;
    
}

.click-btn-container{
    padding-top:2em;
    text-align: center;
    padding-inline: 4em;
}

#click-btn{
    text-align: center;
    padding-block: 0.2em;
    border-radius: 3px;
    border:none;
    width:100%;
    background-color:  #336699;
}

#click-btn:hover{
    outline:2px solid #000033;
}
