.stopwatch-container{
    width:50%;
    margin:auto;
    margin-top:5em;
    background-color:  #2c303d;
    height: 70vh;
    border-radius:10px;
}

.brown{
    background-color:#353028 !important;
}


.light-brown{
    color:#ffeed9 !important;
}
.option-buttons{
    padding-top:1em;
    display: flex;
    align-content: center;
    gap:1em;
    padding-left:1em;
}

.option-buttons button{

    border:none;
    border-radius:1em;
    font-size:1rem;
    padding-block:0.4em;
    background-color:#2c303d;
    padding-inline:1em;
    cursor: pointer;
    color:#eef0ff;
}

.option-buttons button:hover{
   background-color: #424654;

}

.brown button:hover{
    background-color: #5E5B58!important;
}

.selected{
    background-color: #34517d !important;
}

.hover-dark{
    background-color: #826015 !important;
}
.counter-container{
   text-align: center;
   padding-top:3em;
}

